body {
  background: #333;
  height: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ToggleButton {
  margin-top: 24px;
}

#Sketch > canvas {
  outline: 8px solid gray;
  border-radius: 5px;
}
